

#container {
    text-align-last:left;
    margin-top: auto;
    font-family:Arial, Helvetica, sans-serif;
    background-color:lightskyblue;
}

h1 {
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 15%;
    padding: 25px 350px 175px 200px;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternatives:900');

*{
    box-sizing: border-box;
}

.container2{
    display:flex;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */    
    /* flex-direction: column-reverse; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    justify-content:center;
    /* justify-content: space-around; */
}



.box {   
    color: white;
    font-size: 30px;
    font-family: 'Montserrat Alternatives', sans-serif;
    padding: 5px;
    margin:0px;
    width: 25%;
    height: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    border-width: 2px;
    border-color: black;
}

.box1 {
    background: #1687f2;
    width: 32%;
    padding-bottom: 32%; /* Same as width, sets height */
    margin-bottom: 0%; /* (100-32*3)/2 */
    position: relative;
    border-width: 2px;
    border-color: black;
}

.box2 {
    background: #1687f2;
    width: 32%;
    padding-bottom: 32%; /* Same as width, sets height */
    margin-bottom: 2%; /* (100-32*3)/2 */
    position: relative; 
}

.box3 {
    background: #1687f2;
    width: 32%;
    padding-bottom: 32%; /* Same as width, sets height */
    margin-bottom: 2%; /* (100-32*3)/2 */
    position: relative;
}

.box4 {
    background: #1687f2;
    width: 32%;
    padding-bottom: 32%; /* Same as width, sets height */
    margin-bottom: 2%; /* (100-32*3)/2 */
    position: relative;
}

.box5 {
    background: #1687f2;
    width: 32%;
    padding-bottom: 32%; /* Same as width, sets height */
    margin-bottom: 2%; /* (100-32*3)/2 */
    position: relative;
}

.box6 {
    background: #1687f2;
    width: 32%;
    padding-bottom: 32%; /* Same as width, sets height */
    margin-bottom: 2%; /* (100-32*3)/2 */
    position: relative;
}

.box7 {
    background: #1687f2;
    width: 32%;
    padding-bottom: 32%; /* Same as width, sets height */
    margin-bottom: 2%; /* (100-32*3)/2 */
    position: relative;
}

.box8 {
    background: #1687f2;
    width: 32%;
    padding-bottom: 32%; /* Same as width, sets height */
    margin-bottom: 2%; /* (100-32*3)/2 */
    position: relative;
}

.box9 {
    background: #1687f2;   
    width: 32%;
    padding-bottom: 32%; /* Same as width, sets height */
    margin-bottom: 2%; /* (100-32*3)/2 */
    position: relative;
}
